language = "go"

modules = ["go-1.23"]
run = "cd app && go run main.go"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd app && go run main.go"]
build = ["sh", "-c", "mkdir -p app/session"]
deploymentTarget = "gce"
ignorePorts = true

[packager]
packages = ["github.com/lib/pq"]

[workflows]
runButton = "Run App"

[[workflows.workflow]]
name = "Run App"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app && go run main.go"
