language = "go"

modules  = ["go-1.23"]
run      = "go run ./app"           # локальная кнопка «Run»

[nix]
channel = "stable-24_05"

[deployment]                        # Reserved VM  ▸  Background Worker
processType = "worker"        # ← ключевое поле
run = ["go", "run", "./app"]
deploymentTarget = "gce"
ignorePorts = true

[workflows]
runButton = "Run App"

[[workflows.workflow]]
name = "Run App"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run ./app"
